body {
	background-color: darkslateblue;
}
h1 {
	color: white;
	font-family: "American Typewriter", American, serif;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	margin: 0px;
	padding-top: .67em;
	padding-bottom: .67em;
}
h2 {
	color: black;
	font-style: bold;
}
h3 {
	color: black;
	text-align: center;
}
h4 {
	color: black;
	font-size: 28px;
	font-style: bold;
}
h5 {
	color: black;
	font-style: italic;
}
h6 {
	color: black;
	font-size: 17px;
	font-style: italic;
}
p {
	color: black;
	font-size: 17px;
}
ul {
	color: black;
}
#Author{
	color: black;
	font-family: "American Typewriter", American, serif;
	font-size: 15px;
	background-color: lightgray;
	margin-top: 2em;
	margin-bottom: 2em;
	margin-left: 50px;
	margin-right: 50px;
	padding-top: 10px;
	padding-right: 5px;
	padding-bottom: 10px;
	padding-left: 5px;
}
footer {
	position: fixed;
	clear: both;
	font-size: 16px;
	text-align: left;
	color: midnightblue;
	border-top: 1px solid #999;
	width: 900 px;
	bottom: 0px;
	height: 30px;
	background-color: skyblue;
}

p.clear {
 	clear: both;
}

body, html {
  	margin: 0;
  	font-family: Arial;
}

.tablink {
  	background-color: lightslategray;
  	color: black;
  	float: left;
  	border: none;
  	outline: none;
  	cursor: pointer;
  	padding: 14px 16px;
  	font-size: 17px;
  	width: 16.66%;
}

.tablink:hover {
  	background-color: #777;
}

.tabcontent {
  	color: white;
  	display: none;
 	padding: 100px 20px;
  	height: 100%;
}

.marginauto {
	margin: 10px auto 20px;
	display: block;
	margin-left: 135px;
    margin-top: -150px;
}

#Home {background-color: #8963BA;}
#Instructions {background-color: #AF3EC0;}
#Controls {background-color: darkseagreen;}
#XMLHelp {background-color: #688B58;}
#FAQs {background-color: #8963BA;}
#CopyrightNotice {background-color: #AF3EC0;}